* {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #414e62;
}

.contenedor1 {
  background-image: linear-gradient(
      rgba(27, 160, 170, 0.7),
      rgba(27, 160, 170, 0.7)
    ),
    url("assets/img/fondo.png");
  height: 567px;
  width: 100%;
  color: white;
  box-sizing: border-box;
}

.encabezado {
  width: 940px;
  margin: auto;
}

.titular {
  margin-bottom: 30px;
  font-size: 64px;
  padding-top: 90px;
}

.encabezado p {
  line-height: 130%;
  color: white;
}

@media only screen and (max-width: 600px) {
  .encabezado {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .encabezado p {
    font-size: 14px;
  }

  .contenedor h2 {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px !important;
    padding-bottom: 10px;
  }

  .titular {
    margin-bottom: 10px;
    font-size: 36px;
    padding-top: 50px;
  }

  .logofondart img {
    width: 211px;
  }
}

.contenedor {
  width: 940px;
  margin: auto;
  padding-top: 50px;
}

.contenedor h2 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  padding-bottom: 10px;
  color: #414e62;
}

.titulares {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  padding-bottom: 20px;
  color: #414e62;
}

.contenedor p {
  font-size: 20px;
  padding-right: 74px;
}

.titularazul {
  font-size: 32px;
  color: #629bd9;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contenedor h3 {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #629bd9;
}

.divisor {
  width: 35px;
  border-width: 3px;
  color: #414e62;
  margin-top: 80px;
  opacity: 1;
}

.titular2 {
  font-size: 24px;
}

.titular3 {
  font-size: 24px;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
  color: #629bd9;
  margin-top: 45px;
}

.fuentes {
  margin-top: 30px;
  font-size: 16px !important;
  margin-bottom: 80px;
}

.violenciagenero {
  font-size: 24px;
  color: #ed2f39;
  margin-top: 40px;
  margin-bottom: 40px;
}

.diversidades {
  font-size: 24px;
  color: #414e62;
  margin-top: 40px;
  margin-bottom: 40px;
}

.a1 {
  font-size: 24px;
  color: #1b9ea8;
  margin-top: 40px;
  margin-bottom: 40px;
}

.numero-grande {
  font-size: 64px;
  padding-right: 20px;
}

.numerogrande {
  font-size: 64px;
  padding-right: 20px;
}

.numerogrande2 {
  font-size: 64px;
  padding-right: 20px;
}

.contenedor p a {
  word-wrap: break-word;
}

@media only screen and (max-width: 600px) {
  .contenedor {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .contenedor p {
    padding-right: 0px;
    font-size: 16px;
    text-wrap: wrap;
    width: 100%;
  }

  .titulares {
    font-size: 24px;
  }

  .titularazul {
    font-size: 22px;
    padding-bottom: 8px;
    padding-top: 16px;
  }

  .contenedor h3 {
    padding-bottom: 4px;
    padding-top: 4px;
    font-size: 18px;
  }

  .titular2,
  .titular3 {
    font-size: 20px;
  }

  img {
    width: 100%;
    height: auto;
  }

  .imgpeq {
    width: 160px;
  }

  .numero-grande,
  .numerogrande,
  .numerogrande2 {
    font-size: 36px;
    padding-right: 10px;
  }

  .violenciagenero,
  .a1,
  .diversidades {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .fuentes {
    margin-top: 30px;
    font-size: 14px !important;
    margin-bottom: 40px;
  }

  .divisor {
    margin-top: 50px;
  }

  #slctPalabra {
    font-size: 20px !important;
  }

  .cont p {
    font-size: 19px !important;
    margin-bottom: 30px !important;
  }

  .cont h2 {
    margin-bottom: 0px;
  }

  .selector {
    text-align: center;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
}

#slctPalabra {
  width: 180px;
  border-width: 1px;
  border-color: #ed2f39;
  color: #ed2f39;
  font-size: 24px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.selector {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

#nombre,
#result {
  color: #ed2f39;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.constitucion {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.cont p {
  margin-bottom: 40px;
  font-size: 24px;
}

body {
  margin: 0;
}

.sticky {
  position: sticky;
  top: 0;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.6);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
}

footer {
  background-color: #1b9ea8;
  height: 300px;
  margin-top: 250px;
  font-size: 16px;
}

.elementosfooter {
  display: flex;
  color: white;
  margin: auto;
}

.elementosfooter p {
  color: white;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

.bold {
  font-weight: bold;
}

.logoc80 {
  margin-left: auto;
  text-align: center;
}

.logofondart {
  text-align: center;
}

.logoc80 img,
.logofondart img {
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  footer {
    height: 550px;
  }

  .logoc80 img,
  .logofondart img {
    width: 125px;
  }

  .logoc80,
  .logofondart {
    margin-left: 0;
    margin-top: 40px;
  }

  .elementosfooter {
    display: flex;
    flex-wrap: wrap;
  }

  .logofondart {
    margin-left: 40px;
  }
}

@media only screen and (max-width: 350px) {
  .logofondart {
    margin-left: 0;
  }
}

@media only screen and (max-width: 310px) {
  footer {
    height: 700px;
  }
}


.ultimo {padding: 0;
width: 940px;}

